* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}


.sunset {
    width: 100vw;
    height: 100vh;
    /* background-color: orange; */
    background: linear-gradient(to bottom, rgb(151, 2, 151), rgb(255, 166, 0));
    animation-name: fade;
    animation-duration: 30s;
    position: absolute;
   
}

.twilight {
    width: 100vw;
    height: 100vh;
    /* background-color: purple; */
    background: linear-gradient(to bottom, rgb(71, 0, 71), rgb(199, 147, 51));
    animation-delay: 15s;
    animation-name: fade;
    animation-duration: 30s;
    position: absolute;
    
}

.dark {
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(82, 82, 82); */
    background: linear-gradient(to bottom, rgb(82, 82, 82), rgb(0, 0, 0));
    animation-delay: 30s;
    animation-name: fade;
    animation-duration: 60s;
    position: absolute;
    
}


@keyframes fade {
    0% {opacity: 100%;}
    25% {opacity: 50%;}
    50% {opacity: 25%;}
    100% {opacity: 0%;}
}