* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: inline-block;
}

.sunset {
    width: 100vw;
    height: 100vh;
    background-color: orange;
    animation-delay: 5s;
    animation-name: fade;
    animation-duration: 60s;
}

.twilight {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    animation-delay: 60s;
    animation-name: fade;
    animation-duration: 60s;
}

.dark {
    width: 100vw;
    height: 100vh;
    background-color: black;
    animation-delay: 120s;
    animation-name: fade;
    animation-duration: 60s;
}

@keyframes fade {
    0% {opacity: 100%;}
    25% {opacity: 50%;}
    50% {opacity: 25%;}
    100% {opacity: 0%;}
}